nb-accordion-item-header .btn {
  margin-right: 1rem;
}

nb-accordion-item-body .btn {
  float: right;
  margin-right: 1rem;
}

button:focus {
  outline: none !important;
}

.scroll {
  max-height: 20rem;
  overflow: hidden scroll;
}
