<nb-card [nbSpinner]="loading">
  <nb-card-header>Supply {{create.id}}
    <button class="btn btn-xs btn-light shadow-none border-0 float-right" title="Close modal" (click)="cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
  </nb-card-header>
  <nb-card-body>
    <form autocomplete="off" #createModal="ngForm" (keydown.enter)="$event.preventDefault()">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <ngx-group-item-select [(ngModel)]="create.item.groupItem" (ngModelChange)="create.item.groupItemId = create.item.groupItem.id"
                                   ngDefaultControl id="groupItem" name="groupItem"></ngx-group-item-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <ngx-item-select [valid]="create.item.id" [disabled]="create.id" [(ngModel)]="create.item" (ngModelChange)="create.itemId = create.item.id"
                             [selectedGroupItemId]="create.item.groupItem" ngDefaultControl id="item" name="item"></ngx-item-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <ngx-unit-select [valid]="create.unit.id" [(ngModel)]="create.unit" (ngModelChange)="create.unitId = create.unit.id"
                             ngDefaultControl id="unit" name="unit"></ngx-unit-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <ngx-supplier-select [valid]="create.supplier.id" [disabled]="create.id" [(ngModel)]="create.supplier"
                                 (ngModelChange)="create.supplierId = create.supplier.id" ngDefaultControl id="supplier" name="supplier"></ngx-supplier-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="barcode" class="label">Barcode</label>
            <input type="text" required minlength="3" [(ngModel)]="create.barcode" nbInput fullWidth id="barcode" name="barcode" placeholder="Barcode">
            <nb-icon [hidden]="createModal.controls['barcode'] && !createModal.controls['barcode'].invalid" icon="checkmark-outline" status="danger"></nb-icon>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="price" class="label">Price</label>
            <input type="text" required minlength="3" format-number="N0" [(ngModel)]="create.price" nbInput fullWidth id="price" name="price" placeholder="Price">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group text-center">
            <label for="barcodeImage" class="label">Barcode image</label>
            <ngx-barcode6 [bc-format]="'CODE128'" [bc-value]="create.barcode" [bc-display-value]="true" id="barcodeImage"></ngx-barcode6>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button class="btn btn-outline-secondary" (click)="cancel()" title="Close modal"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
    <button class="btn btn-outline-primary" (click)="save(create)" title="Save info" [nbSpinner]="loading"
            [disabled]="!createModal.form.valid || loading || !create.itemId || !create.supplierId || !create.unitId">
      <i class="fa fa-save" aria-hidden="true"></i> Save
    </button>
  </nb-card-footer>
</nb-card>
