<nb-card [nbSpinner]="loading">
  <nb-card-header>Unit {{create.id}}
    <button class="btn btn-xs btn-light shadow-none border-0 float-right" title="Close modal" (click)="cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
  </nb-card-header>
  <nb-card-body>
    <form autocomplete="off" #createModal="ngForm" (keydown.enter)="$event.preventDefault()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name" class="label">Name</label>
            <input type="text" required minlength="2" [(ngModel)]="create.name" nbInput fullWidth id="name" name="name" placeholder="Name">
            <nb-icon [hidden]="createModal.controls['name'] && !createModal.controls['name'].invalid" icon="checkmark-outline" status="danger"></nb-icon>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button class="btn btn-outline-secondary" (click)="cancel()" title="Close modal"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
    <button class="btn btn-outline-primary" (click)="save(create)" title="Save info" [disabled]="!createModal.form.valid || loading" [nbSpinner]="loading"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
  </nb-card-footer>
</nb-card>
