<div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" class="table table-bordered table-hover table-striped dataTable" style="width:100%;cellspacing:0;">
    <tfoot>
    <tr>
      <th class="text-center">
        <div class="btn-group">
          <button class="btn btn-outline-primary" (click)="openModal(null)" title="Create new"><i class="fa fa-plus" aria-hidden="true"></i></button>
          <button class="btn btn-outline-warning" (click)="reloadDataTable()" title="Reload"><i class="fa fa-recycle" aria-hidden="true"></i></button>
        </div>
      </th>
      <th><input type="number" min="1" class="form-control" placeholder="id" name="search-id"/></th>
      <th><input type="text" class="form-control" placeholder="supplier" name="search-supplier"/></th>
      <th><input type="text" class="form-control" placeholder="supplierId" name="search-supplier-id" [(ngModel)]="supplierIdParam"/></th>
      <th><input type="text" class="form-control" placeholder="price" name="search-price"/></th>
      <th><input type="text" class="form-control" placeholder="group item" name="search-group-item"/></th>
      <th><input type="text" class="form-control" placeholder="item" name="search-item"/></th>
      <th><input type="text" class="form-control" placeholder="unit" name="search-unit"/></th>
      <th></th>
    </tr>
    </tfoot>
  </table>
</div>
