<nb-card>
  <nb-card-header>
    Audit Log DataTable
  </nb-card-header>
  <nb-card-body>
    <div class="table-responsive">
      <table datatable [dtOptions]="dtOptions" class="table table-bordered table-hover table-striped dataTable" style="width:100%;cellspacing:0;">
        <tfoot>
        <tr>
          <th class="text-center">
            <div class="">
              <button class="btn btn-outline-warning" (click)="reloadDataTable()" title="Reload"><i class="fa fa-recycle" aria-hidden="true"></i></button>
            </div>
          </th>
          <th><input type="number" min="1" class="form-control" placeholder="Id" name="search-id"/></th>
          <th><input type="text" class="form-control" placeholder="http status" name="search-http-status"/></th>
          <th><input type="text" class="form-control" placeholder="Create by" name="search-createdBy"/></th>
          <th><input type="text" class="form-control" placeholder="path" name="search-path"/></th>
          <th><input type="text" class="form-control" placeholder="Client ip address" name="search-clientIpAddress"/></th>
          <th><input type="text" class="form-control" placeholder="Client name" name="search-clientName"/></th>
          <th><input type="number" min="1" class="form-control" placeholder="Exec duration" name="search-execDuration"/></th>
          <th>
            <input class="form-control" placeholder="Range Picker" [nbDatepicker]="rangepicker" [(ngModel)]="rangePickerDate">
            <nb-rangepicker #rangepicker (rangeChange)="onDateChange($event)"></nb-rangepicker>
          </th>
        </tr>
        </tfoot>
      </table>
    </div>
  </nb-card-body>
</nb-card>
