<form [nbSpinner]="loading" autocomplete="off" #shopDtInfo="ngForm">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="code" class="label">Code</label>
        <input nbInput type="text" [(ngModel)]="create.code" [readOnly]="true" id="code" name="code" placeholder="System generated" fullWidth>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="name" class="label">Name</label>
        <input nbInput type="text" [(ngModel)]="create.name" [readOnly]="create.id" id="name" name="name" placeholder="Name" fullWidth required minlength="3">
        <nb-icon [hidden]="shopDtInfo.controls['name'] && !shopDtInfo.controls['name'].invalid" icon="checkmark-outline" status="danger"></nb-icon>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="phone" class="label">Phone</label>
        <input nbInput type="text" [(ngModel)]="create.phone" id="phone" name="phone" placeholder="Phone" fullWidth>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="address" class="label">Address</label>
        <input nbInput type="text" [(ngModel)]="create.address" id="address" name="address" placeholder="Address" fullWidth>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <ngx-country-select [(ngModel)]="create.country" (ngModelChange)="create.countryId = create.country.id" [valid]="create.countryId"
                            ngDefaultControl id="country" name="country"></ngx-country-select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <ngx-province-select [(ngModel)]="create.province" (ngModelChange)="create.provinceId = create.province.id" [valid]="create.provinceId"
                             [selectedCountry]="create.country" ngDefaultControl id="province" name="province"></ngx-province-select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <ngx-district-select [(ngModel)]="create.district" (ngModelChange)="create.districtId = create.district.id" [valid]="create.districtId"
                             [selectedProvince]="create.province" ngDefaultControl id="district" name="district"></ngx-district-select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
      </div>
    </div>
  </div>
  <ngx-contact [nbSpinner]="loading" [ngModel]="create.contacts" [shopId]="create.id" name="contacts" ngDefaultControl></ngx-contact>
</form>
<br>
<nb-card-footer>
  <button class="btn btn-outline-secondary" (click)="goto(null)" title="Back to Shop"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
  <button class="btn btn-outline-primary" (click)="save()" title="Save info" [nbSpinner]="loading"
          [disabled]="!shopDtInfo.form.valid || loading || !create.countryId || !create.provinceId || !create.districtId">
    <i class="fa fa-save" aria-hidden="true"></i> Save
  </button>
</nb-card-footer>
