<div [nbSpinner]="loading">
  <label for="supply" class="label" [hidden]="hideLabel">Supply</label>
  <input [(ngModel)]="valueInput" (keyup.enter)="addSupply()" (ngModelChange)="onFilteredChange($event)" [disabled]="disabled" [nbAutocomplete]="supply"
         type="text" id="supply" placeholder="Select supply" nbInput fullWidth/>
  <!--  <input (keyup.enter)="onModelChange($event)" [disabled]="disabled" [nbAutocomplete]="supply" nbInput fullWidth type="text" id="supply" placeholder="Select supply"/>-->
<!--  <nb-autocomplete #supply (selectedChange)="onSupplyChange($event)">-->
  <nb-autocomplete #supply (selectedChange)="addSupply()">
    <nb-option *ngFor="let item of filteredItems$ | async" [value]="item.item.code" [title]="item.item.name"> {{ item.item.code }}-{{ item.item.name }} </nb-option>
  </nb-autocomplete>
  <nb-icon [hidden]="invalid" icon="checkmark-outline" status="danger"></nb-icon>
</div>
