<div [nbSpinner]="loading">
  <label for="supplier" class="label" [hidden]="hideLabel">Supplier</label>
<!--  <button class="btn btn-outline-primary btn-xs fa-pull-right" [autofocus]="false" [hidden]="hideLabel" (click)="openDetailNewTab(null)" title="Create new supplier">-->
  <!--    <i class="fa fa-plus" aria-hidden="true"></i>-->
  <!--  </button>-->
  <input [ngModel]="valueInput" (ngModelChange)="onModelChange($event)" [disabled]="disabled" [nbAutocomplete]="supplier" nbInput fullWidth type="text" id="supplier" placeholder="Select supplier"/>
  <nb-autocomplete #supplier (selectedChange)="onSupplierChange($event)">
    <nb-option *ngFor="let item of filteredItems$ | async" [value]="item.code" [title]="item.name"> {{ item.code }}-{{ item.name }} </nb-option>
  </nb-autocomplete>
  <nb-icon [hidden]="invalid" icon="checkmark-outline" status="danger"></nb-icon>
</div>
