<div [nbSpinner]="loading">
  <label for="supply" class="label" [hidden]="hideLabel">Supply ({{supplies.length}})</label>
  <button class="btn btn-outline-primary btn-xs fa-pull-right" [hidden]="hideEdit" (click)="openModal(null)" title="Create new supply">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>
  <nb-select *ngIf="!hideEdit" [disabled]="disabled" [(selected)]="selectedSupply.id" [size]="size" id="supply" placeholder="Select supply" fullWidth>
    <nb-option *ngFor="let supply of supplies" [value]="supply.id" (selectionChange)="onSelectedSupplyChange(supply)"
               title="{{supply.supplier.code}}-{{supply.supplier.name}}">{{ supply.item.code}}-{{ supply.item.name}}</nb-option>
  </nb-select>
  <input type="text" *ngIf="hideEdit" [readOnly]="true" value="{{selectedSupply.item.code}}-{{selectedSupply.item.name}}" nbInput fullWidth name="supply" placeholder="Supply name">
  <nb-icon [hidden]="valid" icon="checkmark-outline" status="danger"></nb-icon>
</div>
