<nb-card [nbSpinner]="loading">
  <nb-card-header>Shop order - [{{create.id}}] - [{{create.code}}]
    <button class="btn btn-xs btn-light shadow-none border-0 float-right" title="Close modal" (click)="cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
  </nb-card-header>
  <nb-card-body>
    <form autocomplete="off" #createModal="ngForm" (keydown.enter)="$event.preventDefault()">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <ngx-shop-select [valid]="create.shop.id" [disabled]="create.shopId" [(ngModel)]="create.shop" (ngModelChange)="create.shopId = create.shop.id"
                             [hideEdit]="create.step === steps.INIT ? false : true" id="shop" name="shop" ngDefaultControl></ngx-shop-select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="shopName" class="label">Shop name</label>
            <input type="text" [readOnly]="true" [(ngModel)]="create.shop.name" nbInput fullWidth id="shopName" name="shopName" placeholder="Shop name">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="shopPhone" class="label">Shop phone</label>
            <input type="text" [readOnly]="true" [(ngModel)]="create.shop.phone" nbInput fullWidth id="shopPhone" name="shopPhone" placeholder="Shop phone">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="shopAddress" class="label">Shop address</label>
            <input type="text" [readOnly]="true" [(ngModel)]="create.shop.address" nbInput fullWidth id="shopAddress" name="shopAddress" placeholder="Shop address">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <ngx-supplier-select [valid]="create.supplier.id" [disabled]="create.supplierId" [(ngModel)]="create.supplier" (ngModelChange)="create.supplierId = create.supplier.id"
                                 [hideEdit]="create.step === steps.INIT ? false : true" id="supplier" name="supplier" ngDefaultControl></ngx-supplier-select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="supplierName" class="label">Supplier name</label>
            <input type="text" [readOnly]="true" [(ngModel)]="create.supplier.name" nbInput fullWidth id="supplierName" name="supplierName" placeholder="Supplier name">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="supplierPhone" class="label">Supplier phone</label>
            <input type="text" [readOnly]="true" [(ngModel)]="create.supplier.phone" nbInput fullWidth id="supplierPhone" name="supplierPhone" placeholder="Supplier phone">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="supplierAddress" class="label">Supplier address</label>
            <input type="text" [readOnly]="true" [(ngModel)]="create.supplier.address" nbInput fullWidth id="supplierAddress" name="supplierAddress" placeholder="Supplier address">
          </div>
        </div>
      </div>
      <ngx-shop-order-detail *ngIf="create.shopId && create.supplierId" [ngModel]="create.shopOrderDetails" name="shopOrderDetails" ngDefaultControl
                             [shop]="create.shop" [supplier]="create.supplier" (ngModelChange)="checkValidDetails()"
                             [hideEdit]="create.step === steps.INIT ? false : true"></ngx-shop-order-detail>
    </form>
    <div class="steppers-container row">
      <div class="col-md-12">
        <ngx-shop-order-step [hide]="create.id ? false : true" [ngModel]="create" ngDefaultControl id="shopOrderStep" name="shopOrderStep"></ngx-shop-order-step>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button class="btn btn-outline-secondary" (click)="cancel()" title="Close modal"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
    <button class="btn btn-outline-primary" (click)="save(create)" title="Save info" [nbSpinner]="loading" *ngIf="create.step === steps.INIT"
            [disabled]="!createModal.form.valid || !create.shopId || !create.supplierId || !supplySelectedDetailInvalid || !duplicateDetailInvalid || loading">
      <i class="fa fa-save" aria-hidden="true"></i> Save
    </button>
    <button class="btn btn-outline-light float-left" *ngIf="create.id" (click)="copy(create)" title="Copy info"
            [disabled]="!createModal.form.valid || loading" [nbSpinner]="loading">
      <i class="fa fa-copy" aria-hidden="true"></i> Copy
    </button>
  </nb-card-footer>
</nb-card>
