<nb-card [nbSpinner]="loading">
  <nb-card-header>Role {{create.id}}
    <button class="btn btn-xs btn-light shadow-none border-0 float-right" title="Close modal" (click)="cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
  </nb-card-header>
  <nb-card-body>
    <form autocomplete="off" #createModal="ngForm" (keydown.enter)="$event.preventDefault()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name" class="label">Name</label>
            <input type="text" required minlength="3" [(ngModel)]="create.name" [readOnly]="create.id" nbInput fullWidth id="name" name="name" placeholder="Name">
            <nb-icon [hidden]="createModal.controls['name'] && !createModal.controls['name'].invalid" icon="checkmark-outline" status="danger"></nb-icon>
          </div>
        </div>
        <div class="col-md-6">
          <label for="privileges" class="label">Privileges</label>
          ({{privilegesChecked.length}}/{{privileges.length}})
          <nb-checkbox class="float-right" nbTooltip="Check all" nbTooltipStatus="primary" (checkedChange)="checkAllPrivilegeChange($event)"></nb-checkbox>
          <div class="checkBoxScroll">
            <ng-template ngFor let-privilege [ngForOf]="privileges" id="privileges" name="privileges">
              <div class="demo-items">
                <nb-checkbox [checked]="isPrivilegeChecked(privilege.name)" (checkedChange)="onPrivilegeChange(privilege, $event)"
                             [(ngModel)]="checkedPrivilegesMap[privilege.name]" name="{{privilege.name}}">{{ privilege.name }}</nb-checkbox>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button class="btn btn-outline-secondary" (click)="cancel()" title="Close modal"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
    <button class="btn btn-outline-primary" (click)="save(create)" title="Save info" [disabled]="!createModal.form.valid || loading" [nbSpinner]="loading">
      <i class="fa fa-save" aria-hidden="true"></i> Save
    </button>
    <button class="btn btn-outline-light float-left" *ngIf="create.id" (click)="copy(create)" title="Copy info" [disabled]="!createModal.form.valid || loading" [nbSpinner]="loading">
      <i class="fa fa-copy" aria-hidden="true"></i> Copy
    </button>
  </nb-card-footer>
</nb-card>
