<div [nbSpinner]="loading">
  <label for="unit" class="label" [hidden]="hideLabel">Unit ({{units.length}})</label>
  <button class="btn btn-outline-primary btn-xs fa-pull-right" [hidden]="hideAdd" (click)="openModal(null)" title="Create new unit">
    <i class="fa fa-plus" aria-hidden="true"></i></button>
  <nb-select [disabled]="disabled" [(selected)]="selectedUnit.id" id="unit" placeholder="Select unit" fullWidth>
    <nb-option *ngFor="let unit of units" [value]="unit.id" (selectionChange)="onSelectedUnitChange(unit)">{{ unit.name}}</nb-option>
  </nb-select>
  <nb-icon [hidden]="valid" icon="checkmark-outline" status="danger"></nb-icon>
</div>

